In [1]:
import requests

In [8]:
from bs4 import BeautifulSoup

In [29]:
import pandas as pd

In [32]:
books = []#empty list
for i in range(1,51):
    url =f"https://books.toscrape.com/catalogue/page-{i}.html"
    response =requests.get(url)
    response =response.content
    soup =BeautifulSoup(response,'html.parser')
    findol =soup.find('ol') #find ol tags
    articles = findol.find_all('article', class_='product_pod') #we must use class_ as it is a css class if we leave it as class it is a python class
    
    for article in articles:
        image=article.find('img')
        title =image.attrs['alt']
        star = article.find('p')
        star=star['class'][1]#dictionary and give us the index 1
        price = article.find('p', class_='price_color').text #this just gets the price with the dollar sign
        price = float(price[1:]) #only want the price and not the symbol
        books.append([title, price, star])#add a book each time, list in another list
        
#print(books)
#saving to csv file
df = pd.DataFrame(books, columns=['Title', 'Price', 'Star Rating'])#Heading
df.to_csv('books.csv')

PermissionError: [Errno 13] Permission denied: 'books.csv'

In [34]:
dataframe =pd.read_csv("C:\\Users\\golda\\books.csv")

In [35]:
dataframe

,Unnamed: 0,Title,Price,Star Rating
0,0,A Light in the Attic,51.77,Three
1,1,Tipping the Velvet,53.74,One
2,2,Soumission,50.10,One
3,3,Sharp Objects,47.82,Four
4,4,Sapiens: A Brief History of Humankind,54.23,Five
...,...,...,...,...
995,995,Alice in Wonderland (Alice's Adventures in Won...,55.53,One
996,996,"Ajin: Demi-Human, Volume 1 (Ajin: Demi-Human #1)",57.06,Four
997,997,A Spy's Devotion (The Regency Spies of London #1),16.97,Five
998,998,1st to Die (Women's Murder Club #1),53.98,One
999,999,"1,000 Places to See Before You Die",26.08,Five